<%=content_for(:title,"FAQs")%>
<div class="container">
  <h1>FAQs</h1>
  <p>よくあるかもしれない質問に対する解答です。</p>

  <h2>HaiQuizって何？</h2>
  <p>A.俳句とクイズを合わせた造語です。</p>
  <h2>このサイトでは何ができるの？</h2>
  <p>A.他人が作った俳句をクイズ形式でみることができます</p>
  <h2>クイズ？、どんなクイズ？</h2>
  <p>A.穴埋めクイズです。俳句の一部分が虫食いになっているので、その部分に入りそうな言葉を選んで解答してみてください。
  </p>
  <h2>自分では作れないの？</h2>
  <p>A.こちらから作れますよ <%= link_to "Make New HaikQ" , new_quize_path %></p>
  <br>
  <h2>今回のテーマ「つらい」とどんな関係が？</h2>
  <p>つらめのエピソード俳句を用意してます。皆様のつらいエピソード俳句の投稿もお待ちしております。(m'_'m)</p>
</div>
