  <tbody>
    <tr>
      <th scope="row"><p><%= quize.id%></p></th>
      <td><h4><%= quize.title %></h4></td>
      <td><h5><%= quize.content %></h5></td>
      <td><%= link_to "見る", quize ,class: "btn btn-success shadow "%></td>
    </tr>
  </tbody>
